<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="scriptrepo"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.company.rnd.scriptrepo.entity.PersistentScript</class>
        <class>com.company.rnd.scriptrepo.entity.PersistentScriptParameter</class>
    </persistence-unit>
</persistence>
